<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="رزومه شخصی من ، علی طهمورث ، طراح وب , TS , ALi Tahmores">
    <meta name="author" content="علی طهمورث">
    <meta name="desciption"
        content="علی طهمورث هستم 21 ساله برنامه نویس و طراح وبسایت قراره در این سایت با من بیشتر آشنا بشید">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/middle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&display=swap" rel="stylesheet">
    <title> final project cs50x </title>
</head>

<body>
    <div>
        <!-- header -->
        <header>
            <nav>
                <div class="left">
                    <a href="#"><img src="../img/Screenshot__23_-removebg-preview.png"></a>
                </div>
                <div class="right">
                    <button class="fa fa-list"></button>
                    <ul>
                        <li><a href="#about">About</a></li>
                        <li><a href="#service">Service</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#contact">Contact</a></li>
                        <li class="auth">
                            <a href="./login.html">Login</a>
                            <span> | </span>
                            <a href="./signup.html">Sign Up</a>
                        </li>

                    </ul>
                </div>
            </nav>
            <div class="top_header">
                <div class="background_img">
                    <div class="background-colo"></div>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                        <path fill="#f4f6f8" fill-opacity="1"
                            d="M0,288L26.7,256C53.3,224,107,160,160,160C213.3,160,267,224,320,224C373.3,224,427,160,480,160C533.3,160,587,224,640,218.7C693.3,213,747,139,800,106.7C853.3,75,907,85,960,122.7C1013.3,160,1067,224,1120,229.3C1173.3,235,1227,181,1280,181.3C1333.3,181,1387,235,1413,261.3L1440,288L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z">
                        </path>
                    </svg>
                </div>
                <div class="left">
                    <img src="../img/blog-22-img-dfghjk1.png">
                </div>
                <div class="right">
                    <div>
                        <span class="normal text">
                            HELLO!
                        </span>
                        <h1 class=" title">I’m ALi Tahmores</h1>
                        <span class="normal text">web Developer & Mobile Application Developer</span>
                    </div>
                    <div class="social">
                        <a href="#"><i class="fa fa-telegram"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-whatsapp"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                    <button id="get-in-touch">
                        <a href="#contact">
                            Get In Touch
                            <i class="fa fa-arrow-right"></i>
                        </a>
                    </button>
                </div>
            </div>
        </header>
    </div>
    <!-- start about_me -->
    <main id="about">
        <div class="about_me">
            <div class="left">
                <h2>Hello! I’m ALi Tahmores.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur repellendus odio consectetur, magni
                    eveniet et necessitatibus reiciendis, quia molestiae distinctio porro illum unde pariatur quis. Odit
                    deleniti esse fugit voluptates!</p>
                <ul>
                    <li><span class="details">Age:</span>
                        <span class="details_in">23</span>
                    </li>
                    <li><span class="details">Email:</span>
                        <span class="details_in">alitahmores30@gmail.com</span>
                    </li>
                    <li><span class="details">Phone:</span>
                        <span class="details_in">09362472529</span>
                    </li>
                    <li><span class="details">Address:</span>
                        <span class="details_in">Karaj, Iran</span>
                    </li>
                    <li><span class="details">Staus</span>
                        <span class="details_in">Available</span>
                    </li>
                </ul>
            </div>
            <div class="right">
                <img src="../img/photo_2024-07-04_09-24-23.jpg">
            </div>
        </div>
        <!--end start about_me -->
        <!--service-->
        <div id="service" class="service">
            <h3 class="title after_pic">My Services</h3>
            <span class="sup_title">
                I offer services fit for any website or app.
                I can quickly maximize timely deliverables for real-time
                schemas.
            </span>
            <div class="service_items">
                <div class="items">
                    <img src="../img/services/web-design.svg" alt="">
                    <span>
                        Web Design
                    </span>
                </div>
                <div class="items">
                    <img src="../img/services/graphic-design.svg" alt="">
                    <span>
                        Graphic Design
                    </span>
                </div>
                <div class="items">
                    <img src="../img/services/ui-ux.svg" alt="">
                    <span>
                        UI/UX
                    </span>
                </div>
                <div class="items">
                    <img src="../img/services/app-development.svg" alt="">
                    <span>
                        App Development
                    </span>
                </div>
            </div>
        </div>
        <!--end service-->

        <!-- My_Skills -->
        <div id="skills" class="My_Skills">
            <h3 class="title after_pic">My Skills</h3>
            <span class="sup_title">
                I am a quick learner and specialize in multitude of skills required for Web Application Development
                and Product Design
            </span>
            <div class="skills">
                <div class="item_skills">
                    <div class="item">
                        <div class="top">
                            <span>HTML5</span>
                            <span>90%</span>
                        </div>
                        <div class="bottom_1">
                            <span></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <span>CSS3</span>
                            <span>90%</span>
                        </div>
                        <div class="bottom_2">
                            <span></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <span>JavaScript</span>
                            <span>80%</span>
                        </div>
                        <div class="bottom_3">
                            <span></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <span>React</span>
                            <span>75%</span>
                        </div>
                        <div class="bottom_4">
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="item_skills">
                    <div class="item">
                        <div class="top">
                            <span>php</span>
                            <span>70%</span>
                        </div>
                        <div class="bottom_5">
                            <span></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <span>WordPress</span>
                            <span>70%</span>
                        </div>
                        <div class="bottom_6">
                            <span></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <span>MySQL</span>
                            <span>60%</span>
                        </div>
                        <div class="bottom_7">
                            <span></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="top">
                            <span>Photoshop</span>
                            <span>60%</span>
                        </div>
                        <div class="bottom_8">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end My_Skills -->

        <!-- gallery_img -->
        <div id="portfolio" class="gallery_img">
            <h3 class="title after_pic">Portfolio</h3>
            <div class="gallery_all">
                <div class="gallery_item">
                    <img src="../img/portfolio/1.jpg" alt="">
                    <div class="hover_text">
                        <h3>WEB DESIGN</h3>
                        <span>Dribbble.com</span>
                    </div>
                </div>
                <div class="gallery_item">
                    <img src="../img/portfolio/2.jpg" alt="">
                    <div class="hover_text">
                        <h3>WEB DEVELOPMENT</h3>
                        <span>GitHub.com</span>
                    </div>
                </div>
                <div class="gallery_item">
                    <img src="../img/portfolio/3.jpg" alt="">
                    <div class="hover_text">
                        <h3>AUDIO MIXING</h3>
                        <span>Soundcloud.com</span>
                    </div>
                </div>
                <div class="gallery_item">
                    <img src="../img/portfolio/4.jpg" alt="">
                    <div class="hover_text">
                        <h3>VIDEO EDITING</h3>
                        <span>Adobe After Effects</span>
                    </div>
                </div>
                <div class="gallery_item">
                    <img src="../img/portfolio/5.jpg" alt="">
                    <div class="hover_text">
                        <h3>PHOTOGRAPHY</h3>
                        <span>Adobe Photoshop</span>
                    </div>
                </div>
                <div class="gallery_item">
                    <img src="../img/portfolio/6.jpg" alt="">
                    <div class="hover_text">
                        <h3>APP DEVELOPMENT</h3>
                        <span>Android</span>
                    </div>
                </div>
                <div class="gallery_item">
                    <img src="../img/portfolio/7.jpg" alt="">
                    <div class="hover_text">
                        <h3>APP DESIGN</h3>
                        <span>Flutter</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end gallery_img -->

        <!-- Experience -->
        <div id="experience" class="experience">
            <h3 class="title after_pic">Experience</h3>
            <div class="all_box">
                <div class="box_card">
                    <div class="box_top">
                        <div class="left">
                            <p>UI/UX Design</p>
                            <span>Designerr Inc. (2012-2014)</span>
                        </div>
                        <div class="rigth">
                            <img src="../img/services/ui-ux.svg" alt="">
                        </div>
                    </div>
                    <div class="box_bottom">
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.
                            Iterative
                            approaches to corporate strategy foster collaborative thinking to further the overall
                            value
                            proposition.</p>
                        <p>Organically grow the holistic world view of disruptive innovation via workplace diversity
                            and
                            empowerment.</p>
                    </div>
                </div>
                <div class="box_card">
                    <div class="box_top">
                        <div class="left">
                            <p>UI/UX Design</p>
                            <span>Designerr Inc. (2012-2014)</span>
                        </div>
                        <div class="rigth">
                            <img src="../img/services/app-development.svg" alt="">
                        </div>
                    </div>
                    <div class="box_bottom">
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.
                            Iterative
                            approaches to corporate strategy foster collaborative thinking to further the overall
                            value
                            proposition.</p>
                        <p>Organically grow the holistic world view of disruptive innovation via workplace diversity
                            and
                            empowerment.</p>
                    </div>
                </div>
                <div class="box_card">
                    <div class="box_top">
                        <div class="left">
                            <p>UI/UX Design</p>
                            <span>Designerr Inc. (2012-2014)</span>
                        </div>
                        <div class="rigth">
                            <img src="../img/services/web-design.svg" alt="">
                        </div>
                    </div>
                    <div class="box_bottom">
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.
                            Iterative
                            approaches to corporate strategy foster collaborative thinking to further the overall
                            value
                            proposition.</p>
                        <p>Organically grow the holistic world view of disruptive innovation via workplace diversity
                            and
                            empowerment.</p>
                    </div>
                </div>
                <div class="box_card">
                    <div class="box_top">
                        <div class="left">
                            <p>UI/UX Design</p>
                            <span>Designerr Inc. (2012-2014)</span>
                        </div>
                        <div class="rigth">
                            <img src="../img/services/full-stack.svg" alt="">
                        </div>
                    </div>
                    <div class="box_bottom">
                        <p>Leverage agile frameworks to provide a robust synopsis for high level overviews.
                            Iterative
                            approaches to corporate strategy foster collaborative thinking to further the overall
                            value
                            proposition.</p>
                        <p>Organically grow the holistic world view of disruptive innovation via workplace diversity
                            and
                            empowerment.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Experience -->

        <!-- Client Testimonials -->
        <div class="client_testimonials">
            <h3 class="title after_pic">Client Testimonials</h3>
            <div class="all_text_card">
                <div class="text_card">
                    <div class="text_top">
                        <i class="fa fa-quote-left" style="font-size:36px"></i>
                        <div class="rigth">
                            <p>Walter displays exemplary professionalism and is able to take on challenges. He
                                learns quickly and is an asset to any team.
                            </p>
                        </div>
                    </div>
                    <div class="text_bottom">
                        <div class="left">
                            <p class="name">Aiyana</p>
                            <p class="bio">CEO / Web Design Company</p>
                        </div>
                        <div class="rigth">
                            <img src="../img/testimonials/client1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="text_card">
                    <div class="text_top">
                        <i class="fa fa-quote-left" style="font-size:36px"></i>
                        <div class="rigth">
                            <p>Walter displays exemplary professionalism and is able to take on challenges. He
                                learns quickly and is an asset to any team.
                            </p>
                        </div>
                    </div>
                    <div class="text_bottom">
                        <div class="left">
                            <p class="name">Alexander</p>
                            <p class="bio">CEO / Web Design Company</p>
                        </div>
                        <div class="rigth">
                            <img src="../img/testimonials/client2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="text_card">
                    <div class="text_top">
                        <i class="fa fa-quote-left" style="font-size:36px"></i>
                        <div class="rigth">
                            <p>Walter is a great co-worker and problem solver. He is quick to extend his helping
                                hand and makes a good team player.
                            </p>
                        </div>
                    </div>
                    <div class="text_bottom">
                        <div class="left">
                            <p class="name">Ariya</p>
                            <p class="bio">Web Developer</p>
                        </div>
                        <div class="rigth">
                            <img src="../img/testimonials/client3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="text_card">
                    <div class="text_top">
                        <i class="fa fa-quote-left" style="font-size:36px"></i>
                        <div class="rigth">
                            <p>Walter is a great co-worker and problem solver. He is quick to extend his helping
                                hand and makes a good team player.
                            </p>
                        </div>
                    </div>
                    <div class="text_bottom">
                        <div class="left">
                            <p class="name">Braiden</p>
                            <p class="bio">Web Designer</p>
                        </div>
                        <div class="rigth">
                            <img src="../img/testimonials/client4.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- end Client Testimonials -->
        <!-- Contact Me -->
        <div id="contact" class="contact_me">
            <h3 class="title after_pic">Contact Me</h3>
            <div class="left">
                <form action="/contact" method="POST">
                    <label for="Name">Name</label>
                    <input type="text" name="" id="Name">
                    <label for="Email">Email</label>
                    <input type="text" name="" id="Email">
                    <label for="Message">Message</label>
                    <input style="height: 120px;" type="text" name="" id="Message">
                    <button><a href="#"> send </a></button>
                </form>
            </div>
            <div class="right">
                <div class="top">
                    <h3>Let’s talk how I can help you!</h3>
                    <p>If you like my work and want to avail my services then drop me a message using the contact
                        form.
                        <br>
                        Or get in touch using my email, skype or my contact number.
                        <br>
                        See you!
                    </p>
                </div>
                <div class="bottom">
                    <ul>
                        <li><span class="details">Email:</span>
                            <span class="details_in">alitahmores30@gmail.com</span>
                        </li>
                        <li><span class="details">Phone:</span>
                            <span class="details_in">09362472529</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- end Contact Me -->
        <!-- footer -->
        <div class="footer">
            <img src="../img/Screenshot__23_-removebg-preview.png">
            <h2>ALi Tahmores</h2>
            <p>Web Developer & Mobile Application Developer</p>
            <div class="social">
                <a href="#"><i class="fa fa-telegram"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-whatsapp"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <br>
            </div>
        </div>
    </main>
    <script src="../static/script.js"></script>
</body>

</html>