<!-- The 'Withdraw' Page -->

{% extends "layout.html" %}

{% block title %}
    Withdraw Funds
{% endblock %}

{% block main %}
    {% if get_flashed_messages() %}
        <div class="alert alert-danger" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    {% endif %}
    <form action="/withdraw" method="post">
        <div class="mb-3">
            <label class="mb-3 fw-bold" for="password">Withdraw Funds</label>
            <input class="form-control mx-auto w-auto mb-3" type="password" id="password" name="password" placeholder="Confirm Password" minlength="1" required>
            <input class="form-control mx-auto w-auto mb-3" type="number" id="sum" name="sum" placeholder="Amount ($)" min="10" step="10" required>
            <small class="form-text text-muted">Minimum withdrawal amount is $10.</small>
            <button class="btn btn-primary btn-block" type="submit">Withdraw</button>
        </div>
    </form>
{% endblock %}
